@tailwind base;
@tailwind components;
@tailwind utilities;

.gui-toast-group {
  position: fixed;
  z-index: 1;

  /* INSET BLOCK START TO MAKE TOAST TOP */
  /* inset-block-start: 0; */
  /* INSET BLOCK END TO MAKE TOAST BOTTOM */
  /* inset-block-end: 0; */

  inset-inline: 0;
  padding-block-end: 5vh;

  /* optimizations */
  pointer-events: none;
}

.gui-toast {
  --_duration: 3s;
  --_bg-lightness: 90%;
  --_travel-distance: 0;

  font-family: system-ui, sans-serif;
  color: black;
  background: hsl(0 0% var(--_bg-lightness) / 90%);
  
  max-inline-size: min(25ch, 90vw);
  padding-block: .5ch;
  padding-inline: 1ch;
  border-radius: 3px;
  font-size: 1rem;

  @media (--dark) {
    color: white;
    --_bg-lightness: 20%;
  }

  @media (--motionOK) {
    --_travel-distance: 5vh;
  }
}
